{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
{% block head %}
<link rel="stylesheet" href="{% static 'css/hero.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/SAA.css' %}" type="text/css"/>
<script src="{% static 'javascript\\dynamic_text.js' %}"></script>
<script src="{% static 'javascript/color.js' %}"></script>

{% endblock %}
{% block content %}
<!-- NAVBAR -->
<nav class="vertical-nav">
    <ul>
      <li><a href="#"><img style="padding-left: 2px;height: 36px;width: 36px;" src="{% static 'verti-nav\home.svg' %}" alt=""></a></li>
      <li><a href="#wheel"><img style="padding-left: 2px;height: 36px;width: 36px;" src="{% static 'verti-nav\projects2.png' %}" alt=""></a></li>
      <li><a href="#SAA"><img style="padding-left: 2px;height: 36px;width: 36px;" src="{% static 'verti-nav\achievements2.png' %}" alt=""></a></li>
      <li><button id="changeButton" class="btn changeButton" style="border: 1px dashed var(--clr-rose);border-radius:10px;"><img src="static\verti-nav\icons8-color-switch.svg" alt=""></button></li>
    </ul>
  </nav>
    <Section class="hero container">
        <div class="hero_without_name">
        <div class="hero_txt">
            <h1 class="hero_h1">Explore!</h1>
            <stong id="dynamicText" class="hero_dynamic_txt"></stong>
        </div>
        <img class="hero_img" src="{% static 'images\pro222.png' %}" alt="">
    </div>
        <div id="heading" class="name"><h1>MOHIT's Portfolio</h1></div>
    </Section>

    <Section id="wheel" class="wheel container">
        <!-- Project Wheel -->
        <div id="chart" class="chart">
            <h1 class="wheel_h1" style="margin-left:10px;">Project Wheel</h1>

            <iframe src="{% static 'chart_home.html' %}"  width="80%"   height="350"  style="margin-left:20px;margin-top: 40px ; border:0px;"></iframe>
        </div>

            <div class="text_content">
                Welcome to my portfolio website! I specialize in web development using Django, AI and automation, and data science. 
                With Django as my primary tool, I have built robust and scalable full stack web applications, ranging from simple websites to complex enterprise solutions. 
                I also have a passion for AI and automation, leveraging these technologies to streamline processes and solve problems efficiently.
                 In the realm of data science, I extract valuable insights from data through analysis and predictive modeling. 
                Additionally, presently I am focussing on contributing to open-source projects, believing in the power of collaboration and knowledge sharing.</div>

                
            <div class="featured_projects text_content">
                <img class="featured_img" src="1.png" alt="">
                <div class="Project_title abstract"><b>Edict_ai</b></div>
                <div class="featured_desc abstract">Project which automatically converts news to video with ai and automate these tasks</div>
                <div class="btn featured_tags">Ai and automation</div>
            </div>

                <div class="chatbot">

      <!-- <iframe id="chatFrame" src="https://openchat.so/chat/P2GR9yIc4aZbM3XTp76K"></iframe>   -->
                </div>
    </Section>
    <Section id="SAA" class="SAA container" style="height: auto; align-items: center;">
        <div class="SAA_menu">
          <ul style="list-style: none;" class="saa_menu_list">
            <li>
              <button class="btn skills" style="height: 10vh; font-size: 25px; margin-right: 2vh;">Skills</button>
            </li>
            <li class="sae_detail" style="margin-right: 2vh;">
              <img style="margin-top: 50px; margin-left: 0px; margin-right: 5px; padding-right: 0px;" src="{% static 'images/pskills.png' %}" alt="">
            </li>
          </ul>
          <ul style="list-style: none;" class="saa_menu_list_detail">
            <li>
              <button class="btn skills" style="height: 10vh; background-color: var(--clr-rose); font-size: 25px; margin-right: 2vh;">achievements</button>
            </li>
            <li class="sae_detail" style="margin-right: 2vh;">
              <button class="btn achi_btn" onclick="toggleVisibility('hackathons')">Hackathons</button>
              <button class="btn achi_btn" onclick="window.location.href='research'">Research work</button>
      
              <div id="hackathons" style="display: none; font-family: Arial; max-height: 80%; overflow-y: auto;">
                <ul>
                  <li>5th rank in all India in<br>Kshitij IIT Kharagpur Data Science Hackathon</li>
                  <li>1st rank for project<br>gesture-based game controller in hackatsits</li>
                  <li>2nd rank for project<br>edict AI in hackatsits</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </Section>
      
      <script>
        function toggleVisibility(elementId) {
          var element = document.getElementById(elementId);
          if (element.style.display === "none") {
            element.style.display = "block";
          } else {
            element.style.display = "none";
          }
        }
      </script>
      
    <section class="gallery">

    </section>
    <script src="{% static 'javascript/featured_projects.js' %}"></script>
{% endblock %}
