/* @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap"); */

.hero{
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  box-shadow: 0 0px 0px rgba(42, 36, 37, 0.5), 0 0 0px rgba(58, 54, 55, 0.5), 0 0 2px -10px var(--clr-rose);
  transition: transform 0.2s;
  /* gap:50rem; */
  /* align-items: center;
  border: 1px solid var(--clr-rose); */
  border-radius:10px ;
  /* height: 100%; */
  height: auto; /* Set height to 100% of the viewport height */
  /* width: 100%; /* */

}

.hero_without_name{
display: flex;
flex-direction: row;
} 



.name{
text-align: center;
margin-top: 10px;
text-shadow: 5px;
background-color: var(--clr-dark);
color: var(--clr-rose);
/* padding-right: 7px; */
/* background: rgba(55, 64, 65, 0.73); */
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(54, 144, 87, 0.1);
backdrop-filter: blur(2.7px);
-webkit-backdrop-filter: blur(2.7px);
border: 1px solid rgba(55, 64, 65, 0.19);
font-family:Verdana, Geneva, Tahoma, sans-serif;
/* height: 100%; */

text-decoration: line-through;
font-size: 12vh;
width: 100%;


border:3px solid var(--clr-rose);
border-radius:10px;
}

.hero:hover{
transform: translateZ(+0.23em);

/* background: rgba(7, 10, 19, 0.47); */
border-radius: 16px;
box-shadow: 0 4px 20px var(--clr-rose);
backdrop-filter: blur(19.2px);
-webkit-backdrop-filter: blur(19.2px);
border: 1px solid rgba(7, 10, 19, 0.19);
}

.hero_txt{
display: flex;
flex-direction: column;
margin-left:auto ;
margin-right: auto;
/* background-color: blue;  */
margin-top: 15%;
}
.hero_txt:hover{
transform: translateZ(+0.23em);

/* background: rgba(7, 10, 19, 0.47); */
/* border-radius: 16px; */
text-shadow: 0 4px 20px var(--clr-rose);
/* -webkit-text-stroke: 0 4px 20px var(--clr-rose); */
-webkit-text-stroke: 2px var(--clr-rose);
/* backdrop-filter: blur(19.2px); */
/* -webkit-backdrop-filter: blur(19.2px); */
/* border: 1px solid rgba(7, 10, 19, 0.19); */

}



.hero_img{
/* width: 75%; */
margin-right: 0; 
padding-right: 0;
transition: transform 3s;
max-width: 45%;
height:560px;
/* -webkit-border-image: ; */
  /* width: 75%; */
  /* margin-top: 10px; */
}


.hero_img:hover{
  -webkit-filter: drop-shadow(1px 10px 0 var(--clr-rose))
  drop-shadow(-1px -1px 0 rgb(26, 30, 73));
  filter: drop-shadow(1px 2px 0 var(--clr-rose)) 
  drop-shadow(-1px -1px 0 var(--clr-rose-light));     
}


.hero_h1 {
/* text-align: left; */
/* background-color: #50d890; */
font-size: var(--size-8xl);
width: 25%;
/* text-align: center; */
text-decoration: underline;
/* text-decoration-color: var(--clr-slate800);
color:var(--clr-slate400); */
text-decoration-color: var(--clr-rose);
/* color:var(--clr-light); */
color: #F8F8F8;
-webkit-text-stroke: 1px;
-webkit-text-stroke-color: var(--clr-rose);
}

.hero_dynamic_txt {
font-size: var(--size-7xl);
/* font-size: auto; */
font-weight: bold;
text-align: right;
text-decoration: underline;
text-decoration-color: var(--clr-rose);
/* color:var(--clr-slate600);
 */
 color: #F8F8F8;
 -webkit-text-stroke: 1px;
 -webkit-text-stroke-color: var(--clr-rose);
}



/* vertical navigation bar  */
.vertical-nav {
position: fixed;
top: 50%;
left: -2;

background-color: var(--clr-rose);

padding: 20px;
border-radius: 5px;
z-index: 999; /* Increase the z-index to ensure it appears above other elements */
height:auto;


/* From https://css.glass */
/* background: rgba(225, 29, 72, 0.64); */
background: var(--clr-dark);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.4px);
-webkit-backdrop-filter: blur(3.4px);
/* border: 1px solid rgba(225, 29, 72, 0.32); */
border: 1px solid var(--clr-rose);
/* transform: translateY(-50%); */
transition: transform 0.3s, box-shadow 0.3s;
}

.vertical-nav:hover{
transform: translateX(10%);
box-shadow: 0 14px 28px var(--clr-rose-light), 0 10px 10px var(--clr-rose-light), 0 0 120px -10px var(--clr-rose);
}

.vertical-nav ul {
  list-style: none;
  padding: 0;
}

.vertical-nav li {
  margin-bottom: 10px;
}

.vertical-nav a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.vertical-nav a:hover {
  background-color: var(--clr-rose);
  color: #fff;
}




/* wheel css  */
.wheel{
display: flex;
flex-direction: row;
/* width: 100%; */
box-shadow: 0 0px 0px rgba(42, 36, 37, 0.5), 0 0 0px rgba(58, 54, 55, 0.5), 0 0 2px -10px var(--clr-rose);
transition: transform 0.2s;
/* gap:50rem; */
/* align-items: center; */
height: auto;
width: 100%;
}

.chart{
display: flex;
flex-direction: column;
/* width: 100%; */
box-shadow: 0 0px 0px rgba(42, 36, 37, 0.5), 0 0 0px rgba(58, 54, 55, 0.5), 0 0 2px -10px var(--clr-rose);
transition: transform 0.2s;
/* gap:50rem; */
/* align-items: center; */
/* background-color: blue; */
height: auto;
width: 80%  ;
}

.text_content{
/* background-color: blue; */
border:5px dashed var(--clr-rose);
/* border-radius:3px ;  */
width: 30%; 
margin-top: 5vh; 
border-spacing: 5px;
/* font-size:20px; */
font-size: 20px;

height: auto;
width: 43%;
/* From https://css.glass */
/* background: var(--clr-rose); */
padding: 2vh;
border-radius: 16px;
/* box-shadow: 0 4px 30px var(--clr-rose-light); */
/* -webkit-text-stroke: 0.5px;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black; */
/* color: black; */
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
/* border: 1px dashed rgba(255, 255, 255, 0.35); */
text-align: center;
justify-content:center;
margin: 1vh;
}

.wheel:hover{
transform: translateZ(+0.23em);

/* background: rgba(7, 10, 19, 0.47); */
border-radius: 16px;
box-shadow: 0 4px 20px var(--clr-rose);
backdrop-filter: blur(19.2px);
-webkit-backdrop-filter: blur(19.2px);
border: 1px solid rgba(7, 10, 19, 0.19);
/* height: auto; */
}


.wheel_h1 {
/* text-align: left; */
/* background-color: #50d890; */
font-size: var(--size-6xl);
width: 15;
/* text-align: center; */
text-decoration: underline;
/* text-decoration-color: var(--clr-slate800);
color:var(--clr-slate400); */
text-decoration-color: var(--clr-rose);
/* color:var(--clr-light); */
color: #F8F8F8;
-webkit-text-stroke: 1px;
-webkit-text-stroke-color: var(--clr-rose);
}



.featured_projects {
border: 1px dashed ver(--clr-rose);
overflow: hidden;
max-height: 700px;
margin-bottom: 10px;
height: auto;
width: auto;
}
.featured_img{
align-items: center;
align-content: center;
margin: 0vh 2vh 2vh 2vh;
height: 220px;
width: 400px;
border: 1px solid var(--clr-rose);
border-radius: 10px;
}



/* Responsiveness */
/* @media (max-width: 750){

.hero_txt{
  font-size: 10px;
}

} */


@media only screen and (max-width: 412px) {
h1{
  size: 10px;
}
}



@media only screen and  (max-width: 1280px){
.wheel{
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.text_content{
  height:auto;
  font-size: auto;
  width: 80%;
}
.hero{
  width: auto;
}
.name{
  font-size: 8vh;
}
}






/* Media queries for adjusting font size */


/* for hero_img */
/* Media queries for adjusting image size */
/* @media (max-width: 767px) {
.hero_img {
  max-width: 100%;
  height: auto;
}
}

@media (min-width: 768px) and (max-width: 1023px) {
.hero_img {
  max-width: 60%;
  height: auto;
}
}

@media (min-width: 1024px) and (max-width: 1279px) {
.hero_img {
  max-width: 70%;
  height: auto;
}
}

@media (min-width: 1280px) and (max-width: 1439px) {
.hero_img {
  max-width: 80%;
  height: auto;
}
} */


/* Media queries */
@media (max-width: 767px) {
.hero_img {
  max-width: 100%;
  height: auto;
}

.name {
  font-size: 4vh;
}
}

@media (min-width: 768px) and (max-width: 1023px) {
.hero_img {
  max-width: 60%;
  height: auto;
}

.name {
  font-size: 10vh;
}
}

@media (min-width: 1024px) and (max-width: 1279px) {
.hero_img {
  max-width: 70%;
  height: auto;
}

.name {
  font-size: 11vh;
}
}

@media (min-width: 1280px) and (max-width: 1439px) {
.hero_img {
  max-width: 80%;
  height: auto;
}

.name {
  font-size: 11.5vh;
}
}
@media only screen and (max-width: 768px) {
  .hero_without_name {
    flex-direction: column;
  }
  /* .hero_img{
    border:3px solid var(--clr-rose);
    border-radius: 50%;
    align-items: center;
    align-content: center;
  } */
}


/* @media (max-width: 390px) {
  .hero_dynamic_txt .hero_h1 {
    font-size: 10px;
  }
  }

@media (max-width: 767px) {
  .hero_dynamic_txt .hero_h1 {
    font-size: 3rem;
  }
  }
   */


  
  
  
@media (max-width: 767px) {
  .hero_dynamic_txt {
    font-size: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero_dynamic_txt {
    font-size: 3.5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .hero_dynamic_txt {
    font-size: 4rem;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .hero_dynamic_txt {
    font-size: 4.2rem;
  }
}