{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css\\blogs_index.css' %}">
<script src="{% static 'javascript/color.js' %}"></script>
{% endblock %}
{% block content %}


<div class="grid container">
<!-- Blog title and abstract -->
<div class="vertical_one">
    <div class="blog_head">
        <div class="blog_detail_title" style="font-size:25px;font-weight:bold;padding-bottom:0px;">{{blog_detail.title}}</div><br>
        <div class="abstract"> {{blog_detail.abstract}}</div>
    </div>
    
    <!-- Blog description -->
    <div class="blog_description">
       <div class="abstract text_content" style="padding:5px 5px 0px 0px ;border:1px solid var(--clr-rose);border-radius:5px;">{{blog_detail.description | safe}}</div> 
    </div>
</div>


<!-- Blog links and references -->

<div class="verticle_two">
    <div class="blog_links">

        <div class="blog_detail_imp_links abstract" style="background-color:var(--clr-rose-light);">{{blog_detail.imp_Links}}</div> 
     </div>
     
     <div class="blog_references"  style="background-color:var(--clr-rose);">
         References<br>
        <div class="blog_detail_references abstract">{{blog_detail.references}}</div> 
     </div>
</div>

</div>
{% endblock %}