{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css\\blogs_index.css' %}">
<script src="{% static 'javascript/color.js' %}"></script>

{% endblock %}
{% block content %}


<div class="blog_index">
    <div class="blog_categories container">
                    <a href="?category=all" class="btn" style="margin: 5px;">All</a>
        
        <div class="dropdown">
            <button class="dropdown-btn">Filter</button>
            <div class="dropdown-content">
                {% for category in all_categories %}
                <a href="?category={{ category.category_name }}" class="btn" style="margin: 5px;">{{ category.category_name }}</a>

            
    {% endfor %}
</div>
</div>
    </div>
    <div class="blog_title container">
        <table>
            {% for blog in all_blogs %}
            <tr>
                <td style="border: 1px solid var(--clr-rose);">
                    <strong style="font-size: 20px;">
                        <a href="{% url 'blog_description' blog.id %}">{{ blog.title }}</a>
                    </strong>
                    <br>
                    <p class="abstract text_content" style="color: var(--clr-light);">{{ blog.abstract }}</p>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}