{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css\\blogs_index.css' %}">
<script src="{% static 'javascript/color.js' %}"></script>
{% endblock %}
{% block content %}


<div class="grid container">
<!-- Blog title and abstract -->
<div class="vertical_one">
    <div class="blog_head">
        <div class="blog_detail_title" style="font-size:25px;font-weight:bold;padding-bottom:0px;">{{blog_detail.title}}</div><br>
        <div class="abstract"> {{blog_detail.abstract}}</div>
    </div>
    
    <!-- Blog description -->
    <div class="blog_description">
       <div class="abstract text_content" style="padding:5px 5px 0px 0px ;border:1px solid var(--clr-rose);border-radius:5px;">{{blog_detail.description | safe}}</div> 
    </div>
</div>


<!-- Blog links and references -->

<div class="verticle_two">
    <div class="blog_links">

        <div class="blog_detail_imp_links abstract" style="background-color:var(--clr-rose-light);">{{blog_detail.imp_Links}}</div> 
     </div>
     
     <div class="blog_references"  style="background-color:var(--clr-rose);">
         References<br>
        <div class="blog_detail_references abstract">{{blog_detail.references}}</div> 
     </div>


     <div style="display:flex;gap: 5px;" class="extra">
      <div style="display:flex;flex-direction: column;" class="likees">
     <p style="text-align: center;">{{ blog_detail.likes }}</p>
     <form action="{% url 'like_post' blog_detail.id %}" method="post">
       {% csrf_token %}
       <button class="btn" type="submit">Like</button>
     </form>
    </div>
     <br>
     <br>
     <!-- Social sharing buttons/icons -->
     <div style="display:flex;gap:3px;" class="social-sharing">
       <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" target="_blank" rel="noopener">
         <img src='{% static "images\social_media\linkedin.png" %}'alt="Share on LinkedIn">
       </a>
       <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ blog.title }}" target="_blank" rel="noopener">
         <img src='{% static "images\social_media\twitter.png" %}' alt="Share on Twitter">
       </a>
       <a href="https://www.instagram.com/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" rel="noopener">
         <img src='{% static "images\social_media\insta.png" %}' alt="Share on Instagram">
       </a>
       <a href="whatsapp://send?text={{ request.build_absolute_uri }}" target="_blank" rel="noopener">
         <img src='{% static "images\social_media\whatsapp.png" %}' alt="Share on WhatsApp">
       </a>
       <!-- Add more social media sharing options as desired -->
     </div>
    </div>

</div>
{% endblock %}