{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css\\blogs_index.css' %}">
<script src="{% static 'javascript/color.js' %}"></script>
{% endblock %}
{% block content %}


<div class="grid container">
<!-- Blog title and abstract -->
<div class="vertical_one">
    <div class="blog_head">
        <div class="blog_detail_title" style="font-size:25px;font-weight:bold;padding-bottom:0px;">{{blog_detail.title}}</div><br>
        <div class="abstract" style="padding-top:0px ;  "> {{blog_detail.abstract}}</div>
    </div>
    
    <!-- Blog description -->
    <div class="blog_description">
       <div class="abstract" style="border:1px solid var(--clr-rose);border-radius:5px;margin-top:10px;">Hare Madhav Prabhu Sada Meherwaana{{blog_detail.description}}</div> 
    </div>
</div>


<!-- Blog links and references -->

<div class="verticle_two">
    <div class="blog_links">

        <div class="blog_detail_imp_links abstract" style="margin-top:3px;background-color:var(--clr-rose-light);border-radius:3px;width:auto;">{{blog_detail.imp_Links}}</div> 
     </div>
     
     <div class="blog_references"  style="margin-top:3px;background-color:var(--clr-indigo);border-radius:3px;">
         References<br>
        <div class="blog_detail_references abstract">{{blog_detail.references}}</div> 
     </div>
</div>

</div>
{% endblock %}